{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:  sans-serif;
    background: linear-gradient(to right, #f8e2c2, #daa18e);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px;
}


form {
    background-color: rgb(178, 130, 197);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(170, 124, 184, 0.1);
    width: 100%;
    max-width: 500px;
}

/* Form Labels and Inputs */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #444;
}


select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #f8d4d4;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s border ease-in-out;
}

input:focus,
select:focus {
    border-color: #d6ada3;
    outline: none;
}

fieldset {
    margin-top: 20px;
    padding: 15px;
    border: 2px dashed #d6ada3;
    border-radius: 10px;
    background-color: #fff6f0;
}

legend {
    font-weight: bold;
    color: #d6d6d6;
    padding: 0 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
    margin-top: 10px;
}

label + br {
    margin-bottom: 5px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #d6d6d6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #e96a4b;
}